.bgc-gray-700{
    background-color: $gray-700;
}

.bgc-gray-600{
    background-color: $gray-600;
}

.bgc-gray-650{
    background-color: $gray-650;
}


.bgc-gray-500{
    background-color: $gray-500;
}


.bgc-gray-400{
    background-color: $gray-400;
}

.bgc-gray-300{
    background-color: $gray-300;
}

.bgc-gray-200{
    background-color: $gray-200;
}

.bgc-gray-100{
    background-color: $gray-100;
}

