$gray-100 : gray;
$gray-200 : rgb(160, 160, 160);
$gray-300 : gray;
$gray-400 : rgb(87, 87, 87);
$gray-500 : rgb(70, 70, 70);
$gray-600 : rgb(45, 45, 45);
$gray-630 : rgb(40, 40, 40);
$gray-650 : rgb(31, 31, 31);
$gray-700 : rgb(27, 27, 27);
